<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sweng.ajou.kr.heatingcontrolclient">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenu" />
        <activity
            android:name=".CurrentTemperature"
            android:label="@string/title_activity_current_temperature"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SensorsActivity"
            android:label="@string/title_activity_sensors"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScheduleActivity"
            android:label="@string/title_activity_schedule"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".EnviomentDetail" />
        <activity android:name=".SetTempManualy"></activity>
    </application>

</manifest>